Link text: Home
Template: index

- most_recent = Nesta::Page.find_articles[0]

%section.articles
	%article
		%h1
			%a{:href => "#{most_recent.path}"}
				= most_recent.title
		= most_recent.body
		= haml :page_meta, :layout => false, :locals => { :page => most_recent }

	%hr
	%h1 Other recent articles

	= article_summaries(Nesta::Page.find_articles[1..3])

	:markdown
		### *Want to go further back? [Here's an archive of all my posts.](/archives)*